@font-face {
  font-family: Mona Sans;
  src: url('https://headlessshopify.netlify.app/fonts/Mona-Sans.woff2') format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --global--font-primary: "Mona Sans", sans-serif;
  --text-size--h1: 5rem;
  --line-height--1: 1em;
  --letter-spacing--main: -.04em;
  --text-size--h2: 4rem;
  --text-size--h3: 3rem;
  --line-height--1-2: 1.2em;
  --text-size--h4: 2rem;
  --text-size--h5: 1.5rem;
  --line-height--1-3: 1.3em;
  --letter-spacing--small: -.02em;
  --text-size--h6: 1rem;
  --text-size--main: 1rem;
  --line-height--1-5: 1.5em;
  --letter-spacing--text: -.01em;
  --padding-horizontal--global: 2.5rem;
  --color--primary: #202020;
  --button--background: white;
  --swatch--light: white;
  --swatch--brand: #2facff;
  --max-width--small: 48rem;
  --max-width--medium: 64rem;
  --max-width--main: 80rem;
  --padding-vertical--section-small: 3rem;
  --padding-vertical--section-medium: 6rem;
  --padding-vertical--section-large: 10rem;
  --text-size--large: 1.25rem;
  --text-size--small: .875rem;
  --text-size--medium: 1.13rem;
  --text-size--tiny: .75rem;
  --button--text: white;
  --button--border: white;
  --button--background-hover: white;
  --button--text-hover: white;
  --button--border-hover: white;
  --swatch--transparent: #fff0;
  --swatch--dark: #353233;
  --swatch--dark-fade: #22222033;
  --swatch--light-fade: #fff3;
  --swatch--brand-text: var(--swatch--dark);
  --theme--background: white;
  --theme--text: white;
  --theme--border: white;
  --border-width--main: 1.5px;
  --grid-gap--main: var(--size--1rem);
  --radius--small: .5rem;
  --radius--main: 1rem;
  --radius--round: 100vw;
  --space--extra-small: var(--size--0-75rem);
  --space--small: var(--size--1-5rem);
  --space--medium: var(--size--3rem);
  --space--large: var(--size--4rem);
  --svg-stroke-width--main: 1.5px;
  --display--font-size: var(--size--7rem);
  --display--font-family: var(--font--primary-family);
  --display--font-weight: var(--font--primary-medium);
  --display--line-height: var(--line-height--1em);
  --display--letter-spacing: var(--letter-spacing--0-03em);
  --display--text-transform: var(--text-transform--inherit);
  --h1--font-size: var(--size--5rem);
  --h1--font-family: var(--font--primary-family);
  --h1--font-weight: var(--font--primary-medium);
  --h1--line-height: var(--line-height--1em);
  --h1--letter-spacing: var(--letter-spacing--0-03em);
  --h1--text-transform: var(--text-transform--inherit);
  --h2--font-size: var(--size--4rem);
  --h2--font-family: var(--font--primary-family);
  --h2--font-weight: var(--font--primary-medium);
  --h2--line-height: var(--line-height--1em);
  --h2--letter-spacing: var(--letter-spacing--0-03em);
  --h2--text-transform: var(--text-transform--inherit);
  --h3--font-size: var(--size--3rem);
  --h3--font-family: var(--font--primary-family);
  --h3--font-weight: var(--font--primary-medium);
  --h3--line-height: var(--line-height--1-1em);
  --h3--letter-spacing: var(--letter-spacing--0-03em);
  --h3--text-transform: var(--text-transform--inherit);
  --h4--font-size: var(--size--2rem);
  --h4--font-family: var(--font--primary-family);
  --h4--font-weight: var(--font--primary-medium);
  --h4--line-height: var(--line-height--1-3em);
  --h4--letter-spacing: var(--letter-spacing--0em);
  --h4--text-transform: var(--text-transform--inherit);
  --h5--font-size: var(--size--1-5rem);
  --h5--font-family: var(--font--primary-family);
  --h5--font-weight: var(--font--primary-medium);
  --h5--line-height: var(--line-height--1-3em);
  --h5--letter-spacing: var(--letter-spacing--0em);
  --h5--text-transform: var(--text-transform--inherit);
  --h6--font-size: var(--size--1rem);
  --h6--font-family: var(--font--primary-family);
  --h6--font-weight: var(--font--primary-medium);
  --h6--line-height: var(--line-height--1-3em);
  --h6--letter-spacing: var(--letter-spacing--0em);
  --h6--text-transform: var(--text-transform--inherit);
  --text--font-size: var(--size--1rem);
  --text--font-family: var(--font--primary-family);
  --text--font-weight: var(--font--primary-regular);
  --text--line-height: var(--line-height--1-5em);
  --text--letter-spacing: var(--letter-spacing--0em);
  --text--text-transform: var(--text-transform--none);
  --text-large--font-size: var(--size--1-25rem);
  --text-large--font-family: var(--font--primary-family);
  --text-large--font-weight: var(--font--primary-regular);
  --text-large--line-height: var(--line-height--1-3em);
  --text-large--letter-spacing: var(--letter-spacing--0em);
  --text-large--text-transform: var(--text-transform--inherit);
  --text-small--font-size: .875rem;
  --text-small--font-family: var(--font--primary-family);
  --text-small--font-weight: var(--font--primary-regular);
  --text-small--line-height: var(--line-height--1-5em);
  --text-small--letter-spacing: var(--letter-spacing--0em);
  --text-small--text-transform: var(--text-transform--inherit);
  --font--primary-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font--primary-regular: var(--font-weight--400);
  --font--primary-medium: var(--font-weight--500);
  --font--primary-bold: var(--font-weight--700);
  --font-weight--inherit: 0px;
  --font-weight--100: 0px;
  --font-weight--200: 0px;
  --font-weight--300: 0px;
  --font-weight--400: 0px;
  --font-weight--500: 0px;
  --font-weight--600: 0px;
  --font-weight--700: 0px;
  --font-weight--800: 0px;
  --font-weight--900: 0px;
  --size--0rem: 0rem;
  --size--0-125rem: .125rem;
  --size--0-25rem: .25rem;
  --size--0-5rem: .5rem;
  --size--0-75rem: .75rem;
  --size--1rem: 1rem;
  --size--1-25rem: 1.25rem;
  --size--1-5rem: 1.5rem;
  --size--2rem: 2rem;
  --size--2-5rem: 2.5rem;
  --size--3rem: 3rem;
  --size--3-5rem: 3.5rem;
  --size--4rem: 4rem;
  --size--4-5rem: 4.5rem;
  --size--5rem: 5rem;
  --size--5-5rem: 5.5rem;
  --size--6rem: 6rem;
  --size--6-5rem: 6.5rem;
  --size--7rem: 7rem;
  --size--7-5rem: 7.5rem;
  --size--8rem: 8rem;
  --size--8-5rem: 8.5rem;
  --size--9rem: 9rem;
  --size--9-5rem: 9.5rem;
  --size--10rem: 10rem;
  --size--11rem: 11rem;
  --size--12rem: 12rem;
  --size--13rem: 13rem;
  --size--14rem: 14rem;
  --size--15rem: 15rem;
  --size--16rem: 16rem;
  --text-transform--inherit: 0px;
  --text-transform--none: 0px;
  --text-transform--uppercase: 0px;
  --text-transform--capitalize: 0px;
  --text-transform--lowercase: 0px;
  --letter-spacing--0em: 0em;
  --letter-spacing--0-03em: -.03em;
  --line-height--1-5em: 1.5em;
  --line-height--1-3em: 1.3em;
  --line-height--1-1em: 1.1em;
  --line-height--1em: 1em;
  --max-width--main-2: 90rem;
  --padding-horizontal--main: 3rem;
  --padding-vertical--none: var(--size--0rem);
  --padding-vertical--small: var(--size--5rem);
  --padding-vertical--main: var(--size--7rem);
  --padding-vertical--large: var(--size--10rem);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  font-family: var(--global--font-primary);
  color: #fff;
  background-color: #000;
}

h1 {
  font-size: var(--text-size--h1);
  line-height: var(--line-height--1);
  letter-spacing: var(--letter-spacing--main);
  font-weight: 500;
}

h2 {
  font-size: var(--text-size--h2);
  line-height: var(--line-height--1);
  letter-spacing: var(--letter-spacing--main);
  font-weight: 500;
}

h3 {
  font-size: var(--text-size--h3);
  line-height: var(--line-height--1-2);
  letter-spacing: var(--letter-spacing--main);
  font-weight: 600;
}

h4 {
  font-size: var(--text-size--h4);
  line-height: var(--line-height--1-2);
  letter-spacing: var(--letter-spacing--main);
  font-weight: 600;
}

h5 {
  font-size: var(--text-size--h5);
  line-height: var(--line-height--1-3);
  letter-spacing: var(--letter-spacing--small);
  font-weight: 700;
}

h6 {
  font-size: var(--text-size--h6);
  line-height: var(--line-height--1-3);
  letter-spacing: var(--letter-spacing--small);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: var(--text-size--main);
  line-height: var(--line-height--1-5);
  letter-spacing: var(--letter-spacing--text);
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 2.5rem;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

.wrapper {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.page-wrap {
  scroll-behavior: smooth;
  overflow: clip;
}

.padding-global {
  padding-right: var(--padding-horizontal--global);
  padding-left: var(--padding-horizontal--global);
  background-color: var(--color--primary);
}

.heading-4-vw {
  font-size: 4.5vw;
  font-weight: 400;
  line-height: 1;
}

.heading-4-vw.text-weight-medium {
  font-weight: 500;
}

.heading-4-vw.text-weight-medium.about-hero-style {
  z-index: 2;
  line-height: 1.1;
  display: inline;
  position: relative;
}

.highlight-wrapper {
  justify-content: flex-start;
  margin-left: .2vw;
  margin-right: .2vw;
  padding-left: .5vw;
  padding-right: .5vw;
  display: inline-flex;
  position: relative;
}

.cta {
  max-width: 56vw;
}

.last-cta {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.larst-card-nav {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: .5rem;
  transition: opacity .25s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.larst-card-nav:hover {
  opacity: .7;
}

.navbar-link {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  transition: opacity .25s;
  display: flex;
}

.navbar-link:hover {
  opacity: .7;
}

.hero-background-image {
  z-index: 1;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.services-card {
  grid-column-gap: 6.667vw;
  grid-row-gap: 6.667vw;
  background-color: #161616;
  border: 1px solid #454341;
  border-radius: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center start;
  width: 100%;
  padding: 8vw 1.667vw 2vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.work-big-card-item {
  height: 100%;
}

.white-wrapper {
  color: #1a1a1a;
  background-color: #fbfbfb;
}

.highlight-text {
  background-color: #ff7e5d;
  width: 100%;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  animation: 1.4s cubic-bezier(.77, 0, .175, 1) highlightThis;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.main {
  z-index: 2;
  position: relative;
}

.full-page {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: none;
  position: relative;
  overflow: hidden;
}

.cta-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
}

.highlight-wrapper-2 {
  justify-content: flex-start;
  margin-left: .2vw;
  margin-right: .2vw;
  padding-left: .5vw;
  padding-right: .5vw;
  display: inline-flex;
  position: relative;
}

.highlight-wrapper-2.margin {
  margin-left: .5vw;
  margin-right: .5vw;
}

.text-size-xdisplay {
  color: var(--button--background);
  letter-spacing: -.03625rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 90vw;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.container.medium {
  max-width: 100rem;
}

.cta-component {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.sticky {
  background-color: var(--color--primary);
  flex: none;
  width: 100dvw;
  height: 100dvh;
  padding: 1vw .5vw;
}

.hero-content {
  text-align: center;
  max-width: 41vw;
}

.text-weight-medium {
  font-weight: 500;
}

.heroabout-container {
  z-index: 2;
  grid-column-gap: 1.1vw;
  grid-row-gap: 1.1vw;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.overlay {
  background-image: linear-gradient(#00000080, #00000080);
  position: absolute;
  inset: 0%;
}

.rightcorner {
  object-fit: cover;
  position: absolute;
  inset: 2% 8% auto auto;
}

.topwrapper {
  min-height: auto;
  position: relative;
}

.leftback {
  width: 50%;
  height: 100%;
  min-height: 900px;
  max-height: 900px;
  position: relative;
}

.omenimage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 700px;
  max-height: 700px;
  margin-left: 49%;
  position: relative;
  overflow: clip;
}

.smallflex {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.herotopback {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 800px;
  max-height: 900px;
  position: absolute;
  inset: 0%;
}

.wrap {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  display: flex;
  position: relative;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  max-width: 19rem;
  margin-bottom: 34px;
  font-size: 5rem;
  font-weight: 300;
  line-height: 4.9rem;
}

.rightwrap {
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  min-height: auto;
  display: flex;
  position: relative;
}

.darkback {
  background-color: #181818;
  min-height: auto;
  max-height: none;
  position: relative;
}

.div-block-2 {
  color: #2facff;
  background-color: #2facff;
  width: 20px;
  height: 2px;
  margin-right: 18px;
}

.omendesktop {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 800px;
  max-height: 800px;
  display: flex;
  position: relative;
  inset: 0% auto 0% 0%;
}

.shopbtn {
  color: #2a2a2a;
  background-color: #2facff;
  border-radius: 50px;
  padding: 16px 50px;
  font-size: .9rem;
  line-height: 1rem;
}

.shopbtn:hover {
  background-color: var(--swatch--light);
}

.image-3 {
  transform: translate(0);
}

.buttonwrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.textsmall {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
  line-height: 100%;
}

.rightpaneltop {
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  min-height: auto;
  max-height: 90svh;
  margin-left: auto;
  margin-right: auto;
  padding: 89px 5% 89px 20%;
  display: flex;
  position: relative;
}

.paragraphroboto {
  color: #fff;
  max-width: 25rem;
}

.section8 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
}

.section8.left {
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.greyflexdiv {
  display: flex;
}

.centermiddle {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
  inset: 0%;
}

.section2gridinner {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.doublepanel-copy {
  color: #181818;
  background-color: #181818;
  border-top: 1px solid #000;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
}

.section2 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.section2grid {
  width: 90%;
}

.section6type {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: block;
}

.text-block-8 {
  color: #fff;
  margin-bottom: 28px;
}

.submit-button {
  background-color: #2facff;
  width: 250px;
  height: 65px;
}

.gridcenter {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: none;
  margin: 33px auto;
  display: flex;
}

.section6 {
  background-color: #181818;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  display: flex;
  position: relative;
}

.iconstext {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.checkbox-label {
  color: #fff;
  font-size: .9rem;
  line-height: 150%;
}

.arrowwrap {
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
  position: relative;
}

.section6installbutton {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.absoluteleft {
  position: absolute;
  inset: 0% auto auto 0%;
}

.fullspec {
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px;
  display: flex;
  position: relative;
}

.gridleft {
  object-fit: cover;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
}

.fullspecs {
  color: #fff;
  letter-spacing: 2px;
  font-size: .8rem;
  line-height: 100%;
}

.megaheadline {
  color: #2facff;
  font-size: 3rem;
  line-height: 3.1rem;
}

.wrapperdark {
  background-color: #181818;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  display: flex;
  position: relative;
}

.basefooter {
  margin: 75px auto 232px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.leftblue {
  position: absolute;
  inset: 0% auto auto 0%;
}

.splittext {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.section6gridcard {
  width: 100%;
}

.newsletter {
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
}

.splith3 {
  color: #fff;
  text-transform: uppercase;
  max-width: 200px;
}

.section3 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sectionheading15 {
  color: #fff;
  text-transform: uppercase;
}

.section6gridwrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  display: flex;
}

.section6heading {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 400;
  line-height: 1rem;
}

.textright {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;
  padding-right: 58px;
  display: flex;
}

.divdark {
  background-color: #181818;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: none;
  display: flex;
}

.divdark._100 {
  margin-bottom: 100px;
}

.insidegridmini {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: .9rem;
  line-height: 1.2rem;
}

.copy14 {
  background-image: linear-gradient(#0003, #0003);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 38px;
  display: flex;
  position: absolute;
  inset: 0%;
}

.section9 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
}

.section6watch {
  margin-top: 5%;
  margin-bottom: 5%;
}

._2abackground {
  color: #181818;
  background-color: #181818;
  background-image: linear-gradient(#141414, #2a2a2a 33%, #000);
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.gridbox {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

.section6image {
  object-fit: cover;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
}

.paragraph900 {
  color: #fff;
  text-align: center;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1rem;
  line-height: 200%;
}

.arrowbox {
  color: #2facff;
  padding-top: 19%;
}

.list {
  padding-left: 0;
}

.icon-embed-xxsmall-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.section5 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  background-color: #181818;
}

.bold-text-2 {
  font-size: .7rem;
}

.form-block {
  flex-flow: column;
  display: flex;
}

.lefttextsub {
  color: #2facff;
}

.eybrow {
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
}

.megatextwrap {
  width: 100%;
}

.gridsplit {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.gridsplit.reverse {
  max-width: 1200px;
}

.section10 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
}

.list-item {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: disc;
}

.iconwrap {
  max-width: 70px;
  margin-right: 10px;
}

.watchlink {
  color: #2facff;
  text-decoration: none;
}

.watchlink:hover {
  color: #fff;
}

.inside-counts {
  text-align: center;
  flex-flow: column;
  margin-bottom: 84px;
  display: flex;
}

.titledarkcenter {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: 4% 0% auto;
}

.gridhalf {
  object-fit: cover;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
}

.imagestretch {
  margin-left: auto;
  margin-right: auto;
}

.doublepanel {
  color: #181818;
  background-color: #181818;
  border-top: 1px solid #000;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
}

.formhorizontal {
  display: flex;
}

.text-field {
  height: 65px;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin-left: -40px;
}

.section12a {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  inset: auto 0% 0%;
}

.bluesquare {
  position: absolute;
  inset: 0% auto auto 0%;
}

.section12 {
  background-color: #181818;
  position: relative;
}

.checkbox-field {
  margin-top: 51px;
  padding-left: 50px;
}

.section7 {
  background-color: #181818;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
}

.ltgreynotch {
  color: #2a2a2a;
  background-color: #2a2a2a;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  display: flex;
  position: relative;
}

.headline3 {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 47px;
}

.error-message {
  background-color: #2facff;
}

.flexleft {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.bold-text-3 {
  color: #2facff;
}

.grid-8 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: none;
  margin: 33px auto;
  display: flex;
}

.div-block-5 {
  flex-flow: column;
  display: flex;
}

.text-block-9 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
}

.div-block-6 {
  background-color: #2facff;
  width: 25px;
  height: 2px;
  margin: 16px auto;
  padding-top: 0;
  padding-bottom: 0;
}

.grid-9 {
  grid-template: ". Area"
  / 1.25fr 40px;
  max-width: 200px;
}

.image-8 {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.heading-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}

.form-3 {
  flex-flow: column;
  display: flex;
}

.image-9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.heading-5 {
  color: #fff;
  text-transform: uppercase;
  max-width: 25rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.grid-10 {
  grid-template-rows: auto;
}

.image-10 {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div-block-7 {
  color: #2facff;
  background-color: #2facff;
  width: 20px;
  height: 2px;
  margin-right: 18px;
}

.image-11 {
  transform: translate(0);
}

.grid-11 {
  grid-template-columns: 1fr 1fr;
}

.text-block-10 {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-block-11 {
  color: #fff;
  text-align: center;
  max-width: 50rem;
  font-weight: 400;
}

.card__btn-w {
  flex: 1;
  align-items: flex-end;
  margin-left: -.125rem;
  padding-top: 1rem;
  display: flex;
}

.btn-w {
  background-color: var(--swatch--brand);
  color: #fffefa;
  text-align: center;
  border-radius: 2em;
  min-width: 11em;
  padding: .75em 2em .875em;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .2s;
}

.btn-w:hover {
  background-color: #3e4ceb;
}

.grid-w {
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
  display: flex;
}

.card-w {
  background-color: #fff;
  border: 1px solid #f4f4f3;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 2rem;
  transition: transform .2s;
  display: flex;
  box-shadow: 0 12px 16px #00000003;
}

.card-w:hover {
  transform: translate(0, -.125rem);
}

.card__tech-txt {
  color: #c173ec;
  font-size: .875rem;
  font-weight: 600;
}

.x-container {
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.grid__col {
  width: 33.3333%;
  padding: .5rem;
}

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0%;
}

.close-btn-w {
  z-index: 5;
  float: right;
  background-color: #f5efef;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  position: sticky;
  top: -2rem;
}

.screen-reader-only {
  border: 1px #000;
  border-radius: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  inset: -1px;
  overflow: hidden;
}

.modal-3-popup {
  z-index: 25;
  background-color: #29282866;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 4rem 2rem;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: auto;
}

.close-btn-line {
  background-color: #4353ff;
  border-radius: 1px;
  width: 1.75rem;
  height: 2px;
  position: absolute;
}

.close-btn-line.is--2nd {
  transform: rotate(45deg);
}

.close-btn-line.is--1st {
  transform: rotate(-45deg);
}

.modal-content-w {
  padding: 3rem;
}

.modal {
  background-color: #fff;
  border-radius: 0;
  flex: none;
  width: 100%;
  max-width: 98%;
  height: auto;
  margin: auto;
  position: relative;
}

.heading-6 {
  color: var(--color--primary);
}

.shopnowtext {
  font-weight: 200;
}

@media screen and (max-width: 991px) {
  .heading-4-vw {
    font-size: 4rem;
  }

  .cta {
    max-width: none;
  }

  .larst-card-nav {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .services-card {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    width: auto;
    max-width: none;
    padding: 4rem 1.5rem 2rem;
  }

  .full-page {
    min-height: 100svh;
    max-height: 100svh;
  }

  .cta-wrapper {
    margin-top: 6rem;
  }

  .text-size-xdisplay {
    font-size: 3rem;
  }

  .container {
    max-width: 90vw;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .hero-content {
    max-width: none;
  }

  .heroabout-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 4rem;
  }

  .rightcorner {
    top: -7%;
    right: -4%;
  }

  .textblockcenter {
    flex: 1;
  }

  .topwrapper, .leftback {
    min-height: auto;
  }

  .omenimage {
    max-height: 65svh;
    margin-left: 20%;
  }

  .herotopback {
    height: auto;
    min-height: 70svh;
  }

  .heading {
    margin-bottom: 19px;
    font-size: 3.8rem;
    line-height: 3.7rem;
  }

  .darkback {
    min-height: auto;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .omendesktop {
    max-height: 70svh;
    top: 5%;
  }

  .rightpaneltop {
    width: 90%;
    max-height: 70svh;
    padding-left: 12%;
  }

  .centermiddle {
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .section2gridinner {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 118px;
  }

  .section2 {
    background-color: #181818;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .textright {
    padding-left: 0;
  }

  .titledarkcenter {
    position: static;
    top: -7%;
    right: -4%;
  }

  .text-block-11 {
    max-width: 40rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .heading-4-vw {
    font-size: 3rem;
  }

  .highlight-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .services-card {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .cta-wrapper {
    margin-top: 4rem;
  }

  .highlight-wrapper-2 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .text-size-xdisplay {
    font-size: 2.5rem;
  }

  .container {
    max-width: 90vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container.medium {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .rightcorner {
    margin-right: 30%;
  }

  .textblockcenter {
    padding-top: 106px;
  }

  .topwrapper {
    flex-flow: column;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .leftback {
    object-fit: cover;
    width: 100%;
  }

  .omenimage {
    min-height: 600px;
    max-height: none;
    margin-top: 30px;
    margin-left: 0%;
  }

  .smallflex {
    width: 100%;
  }

  .herotopback {
    height: auto;
    min-height: 600px;
  }

  .wrap {
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
  }

  .rightwrap {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .darkback {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .omendesktop {
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: none;
  }

  .image-3 {
    margin-top: 20px;
    margin-left: 124px;
    margin-right: auto;
    padding-right: 0;
  }

  .buttonwrapper {
    margin-bottom: 94px;
  }

  .rightpaneltop {
    margin-top: 10px;
  }

  .section8.left {
    flex-flow: column;
    display: flex;
  }

  .section2gridinner {
    grid-template-columns: 1fr;
  }

  .doublepanel-copy {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 33px;
    display: block;
  }

  .section2 {
    flex-flow: column;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .gridcenter {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .fullspec {
    padding-left: 0;
  }

  .gridleft {
    width: 100%;
  }

  .splittext {
    width: 100%;
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .copy14 {
    min-height: auto;
  }

  ._2abackground {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 33px 0;
  }

  .section6image {
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph900 {
    padding: 42px;
  }

  .gridsplit {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .inside-counts {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .titledarkcenter {
    margin-right: 0%;
  }

  .gridhalf {
    width: 100%;
  }

  .doublepanel {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 33px;
    display: block;
  }

  .section12a, .section12 {
    min-height: 500px;
  }

  .headline3 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    display: flex;
  }

  .grid-8 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .image-9 {
    min-height: 500px;
  }

  .image-10 {
    object-fit: contain;
  }

  .image-11 {
    margin-top: 20px;
    margin-left: 124px;
    margin-right: auto;
    padding-right: 0;
  }

  .grid-11 {
    grid-template-columns: 1fr;
  }

  .grid__col {
    width: 100%;
  }

  .modal-content-w {
    padding: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .heading-4-vw {
    font-size: 2.5rem;
  }

  .highlight-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .larst-card-nav {
    border-top-right-radius: 0;
    border-bottom-left-radius: .5rem;
    padding-left: 2rem;
  }

  .highlight-text {
    background-color: #0000;
  }

  .cta-wrapper {
    width: 100%;
  }

  .highlight-wrapper-2 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .container, .container.medium {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heroabout-container {
    width: 100%;
  }

  .rightcorner {
    margin-right: 5%;
    padding-top: 0;
    inset: 0% 0% auto auto;
  }

  .omenimage {
    min-height: 400px;
    margin-left: 0%;
  }

  .rightwrap {
    height: auto;
  }

  .omendesktop {
    height: 300%;
    min-height: auto;
  }

  .shopbtn {
    margin-bottom: 83px;
  }

  .image-3 {
    margin-top: 48px;
    margin-left: 0;
  }

  .rightpaneltop {
    margin-top: 153px;
    padding-left: 5%;
  }

  .centermiddle {
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
  }

  .section2 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .fullspec {
    width: 200px;
    padding-left: 5px;
  }

  .sectionheading15 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .textright {
    padding-right: 0;
  }

  .paragraph900 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .titledarkcenter {
    justify-content: center;
    align-items: flex-start;
    margin-right: 5%;
    padding-top: 0;
    inset: 0% 0% auto auto;
    overflow: auto;
  }

  .image-11 {
    margin-top: 48px;
    margin-left: 0;
  }

  .btn-w {
    font-size: .9375rem;
  }

  .card-w {
    padding: 1.5rem;
  }

  .x-container {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }

  .close-btn-w {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
  }

  .modal-3-popup {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-content-w {
    padding: 1.5rem;
  }

  .modal {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#w-node-a809e3e5-d963-adc3-7d19-7eecc2e76b27-23005879, #w-node-a809e3e5-d963-adc3-7d19-7eecc2e76b2e-23005879 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}


@font-face {
  font-family: 'Mona Sans';
  src: url('../fonts/Mona-Sans.woff2') format('woff2');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
